<div class="w-full max-w-md mx-auto shadow-lg px-8 py-12 rounded-xl absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">
  <h2 class="text-3xl font-bold text-purple-800 text-center">E-shop</h2>
  <form [formGroup]="form" (ngSubmit)="login()" class="flex flex-col gap-4 mt-6">
    <div class="flex flex-col">
      <label class="text-gray-800">Email</label>
      <input
        type="text"
        formControlName="email"
        class="px-2 py-1 border border-purple-500 rounded-md  outline-purple-400"
        [ngClass]="{
          'border-indigo-600': email?.touched && email?.valid,
          'border-red-600': email?.touched && email?.invalid
        }"
      >
      <div class="opacity-0 transition-all flex" [ngClass]="{'opacity-100': email?.touched && email?.invalid}">
        <span class="text-xs text-red-400" *ngIf="email?.touched && email?.hasError('required')">This field is required</span>
        <span class="text-xs text-red-400" *ngIf="email?.touched && email?.hasError('email')">Please enter a valid email</span>
      </div>
    </div>
    <div class="flex flex-col">
      <label class="text-gray-800">Password</label>
      <input
        type="text"
        formControlName="password"
        class="px-2 py-1 border border-purple-500 rounded-md  outline-purple-400"
        [ngClass]="{
          'border-indigo-600': password?.touched && password?.valid,
          'border-red-600': password?.touched && password?.invalid
        }"
      >
      <div class="opacity-0 transition-all flex" [ngClass]="{'opacity-100': password?.touched && password?.invalid}">
        <span class="text-xs text-red-400" *ngIf="password?.touched && password?.hasError('required')">This field is required</span>
      </div>
    </div>
    <button
      class="mt-4 px-4 py-1.5 bg-purple-500 rounded text-white disabled:bg-purple-300"
    >
      Login
    </button>
  </form>
</div>


